# Java/Maven
target/
*.iml
.idea/
.project
.classpath
.settings/
.DS_Store
.venv/
*.log
.env
.env.*
.mvn/wrapper/maven-wrapper.jar

# Node/TS
node_modules/
e2e/node_modules/
e2e/dist/
e2e/.env
e2e/junit.xml
