# Java/Maven
**/target/
*.iml
.idea/
.project
.classpath
.settings/
.DS_Store
.venv/
*.log
.env
.env.*
.mvn/wrapper/maven-wrapper.jar

# Node/TS
**/node_modules/
e2e-tests/dist/
e2e-tests/.env
e2e-tests/junit.xml
